{% extends 'base.html' %} {% block content %}
<div class="container-sm">
  <div class="row mt-6">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">Lista de productos según su marca y presentación</p>
          <a href="/producto/" class="btn btn-primary">Ver productos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Catálogos</h5>
          <p class="card-text">Lista de marcas y lista de presentaciones de productos</p>
          <a href="/catalogo/" class="btn btn-primary">Ver catálogos</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
