{% load crispy_forms_tags %}
<form
  method="post"
  data-url="{% url 'productoCreate' %}"
  class="producto-create-form"
>
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Registrar Producto</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">{{form | crispy}}</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cerrar
    </button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
